.side-navbar-container {
  position: absolute;
  transition: transform 0.3s ease;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px; /* Adjust the width according to your design */
  background-color: #ffffff; /* Set the background color as needed */
  box-shadow: -5px 5px 8px #c6c6c7, 5px -5px 8px #afafb1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  overflow-y: auto;
}

.side-navbar-container.closed {
  transform: translateX(100%);
}

.close-icon {
  color: #02a2ce;
  font-size: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
  transition: 0.3s;
  cursor: pointer;
}

.side-date {
  position: absolute;
  top: 350px;
  justify-content: center;
  align-items: center;
}

.side-clock {
  border-radius: 20px;
  background: #f4f4f4;
  top: 250px;
  box-shadow: 5px 5px 12px #d3d3d3, -5px -5px 12px #ffffff;
  width: 14rem;
  height: 5rem;
  z-index: 0;
  margin-right: 12%;
  position: absolute;
  margin-left: 2rem;
  margin-bottom: 3rem;
  font-family: sans-serif;
  text-align: center;
}

.clock-container {
  font-size: 1.8rem;
  text-align: center;
  margin-top: 20px;
  font-weight: 500;
}

.procontainer {
  padding-top: 1rem;
  top: 50px;
  border-radius: 20px;
  background: #f4f4f4;
  box-shadow: 5px 5px 12px #d3d3d3, -5px -5px 12px #ffffff;
  width: 14rem;
  height: 11rem;
  z-index: 0;
  margin-right: 12%;
  position: absolute;
  margin-left: 2rem;
  margin-bottom: 3rem;
  font-family: sans-serif;
  text-align: center;
  padding-left: 10px;
  transition: 0.3s;
}

.procontainer:hover .pro {
  overflow: visible;
}

.circle-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile {
  color: #049fcf;
  height: 60px;
  width: 60px;
}

.proform {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.progroup {
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pro {
  padding: 0.15rem 0.75rem;
  font-size: 1.1rem;
  color: #438fb5;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: 0.3s;
}

.progroup {
  margin-bottom: 1rem;
}

.pro-btn:hover {
  background-color: #0185ad;
}

.side-thought {
  border-radius: 20px;
  background: #6fcbf930;
  top: 500px;
  box-shadow: 5px 5px 12px #d3d3d3, -5px -5px 12px #ffffff;
  width: 14rem;
  height: 11rem;
  z-index: 0;
  margin-right: 12%;
  position: absolute;
  margin-left: 2rem;
  margin-bottom: 3rem;
  font-family: sans-serif;
  text-align: center;
}

/* For Webkit browsers (Chrome, Safari) */
.side-navbar-container::-webkit-scrollbar {
  width: 2px;
}

.side-navbar-container::-webkit-scrollbar-thumb {
  background-color: #e5e5e5;
  border-radius: 5px;
}

.side-navbar-container::-webkit-scrollbar-track {
  background-color: #f4f4f4;
}

/* For Firefox */
.side-navbar-container {
  scrollbar-width: thin;
  scrollbar-color: #e5e5e5 #f4f4f4;
}

/* For Internet Explorer and Edge */
.side-navbar-container {
  -ms-overflow-style: none;
}

.side-navbar-container::-ms-scrollbar-thumb {
  background-color: #e5e5e5;
}

.side-navbar-container::-ms-scrollbar-track {
  background-color: #f4f4f4;
}

.dark-mode .side-navbar-container {
  background-color: #070707;
  box-shadow: -5px 5px 8px #000000, 5px -5px 8px #000000;
  color: #ffffff;
}
/* Dark mode styles for side-date */
.dark-mode .side-date {
  color: #ffffff; /* Text color for dark mode */
  border-radius: 20px;
}

/* Dark mode styles for side-clock */
.dark-mode .side-clock {
  background: #1e1e1e; /* Dark background color */
  box-shadow: 5px 5px 12px #000000, -5px -5px 12px #333333; /* Dark box shadow */
  color: #ffffff; /* Text color for dark mode */
}

/* Dark mode styles for procontainer */
.dark-mode .procontainer {
  background: #1e1e1e; /* Dark background color */
  box-shadow: 5px 5px 12px #000000, -5px -5px 12px #333333; /* Dark box shadow */
  color: #ffffff; /* Text color for dark mode */
}

/* Dark mode styles for side-thought */
.dark-mode .side-thought {
  background: #1e1e1e; /* Dark background color */
  box-shadow: 5px 5px 12px #000000, -5px -5px 12px #333333; /* Dark box shadow */
}
