* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav {
  height: 2rem;
  margin-top: 0.5rem;
}
.groupedSectionStyle {
  margin-top: 5%;
  margin-bottom: 3%;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}
.buttonsView {
  display: flex;
  flex-direction: row;
  margin-left: 6%;
  margin-top: 2%;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 3%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 5px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
}
.footer p {
  margin: 0;
}
.checkmarkStyle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.design {
  border-radius: 76px;
  background: #000000;
  box-shadow: 5px 5px 12px #0b0b0c, -5px -5px 12px #2b2b30;
  max-width: 500px;
  width: 25rem;
  height: 25rem;
  margin-top: 3%;
  z-index: 0;
  margin-right: 10%;
  position: relative;
}
.newBox {
  width: 60%;
}
.btn-custom a {
  text-decoration: none;
  color: inherit;
}
.btn-custom {
  background-color: #000000;
  color: #67bbd3;
  width: 10rem;
  margin-left: 1.5rem;
  height: 2.5rem;
  font-weight: 550;
  border: 1px solid #67bbd3;
  margin-top: 3%;
}
.tex {
  color: white;
  font-size: 2.8rem;
  font-weight: bold;
  font-family: "Poppins";
  width: 75%;
  max-width: 1350px;
  margin-left: 10%;
  margin-top: 3%;
}
.otherStyle {
  color: rgb(156, 156, 156);
  font-size: 1.25rem;
  font-weight: 600;
  margin-left: 10%;
  width: 75%;
  margin-top: 3%;
  max-width: 600px;
}
.containerStyle {
  margin-bottom: 0;
  background-color: #000000;
  min-height: 100vh;
  background-size: 100%;
  background-position: center;
  overflow: hidden;
  padding-bottom: 20px;
}
.BAR {
  margin-left: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 45px;
}
.buttonStyle {
  color: #fff;
  border: 2px solid transparent;
  transition: border 0.3s;
  font-weight: 600;
  font-size: 18px;
}
.buttonStyle:hover {
  border: 2px solid #fff;
}
.clock {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  width: 17rem;
  height: 17rem;
  justify-self: center;
  box-shadow: 5px 5px 15px #0b0b0c, -5px -5px 15px #2b2b30;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #000000; /* Set background color to dark */

  .hand {
    position: absolute;
    transform-origin: bottom;
    bottom: 8.5rem;
    border-radius: 0.2rem;
    z-index: 2;
  }

  .hours {
    width: 0.4rem;
    height: 5rem;
    background: #606060; /* Change to your desired color */
  }

  .minutes {
    width: 0.4rem;
    height: 7rem;
    background: #67bbd3;
  }
  .seconds {
    width: 0.2rem;
    height: 7.2rem;
    background: #fff; /* Change to your desired color */
  }
  .point {
    position: absolute;
    width: 0.7rem;
    height: 0.7rem;
    border-radius: 50%;
    background: #fff; /* Change to your desired color */
    z-index: 3;
  }
  .marker {
    width: 95%;
    height: 95%;
    border-radius: 50%;
    position: relative;
    box-shadow: inset 1px 1px 1px #2b2b30, inset -1px -1px 1px #504d4d;

    &::after {
      content: "";
      border-radius: 50% !important;
      width: 60%;
      height: 60%;
      position: absolute;
      box-shadow: inset 1px 1px 1px #2b2b30, inset -1px -1px 1px #504d4d;
      top: 20%;
      left: 20%;
      filter: blur(1px);
    }
    &__1,
    &__2,
    &__3,
    &__4 {
      position: absolute;
      border-radius: 0.1rem;
      z-index: 4;
      box-shadow: inset 1px 1px 1px #2b2b30, inset -1px -1px 1px #fff;
    }
    &__1,
    &__2 {
      width: 0.2rem;
      height: 0.6rem;
      left: 5.6rem;
    }
    &__3,
    &__4 {
      width: 0.6rem;
      height: 0.2rem;
      top: 5.6rem;
    }

    &__1 {
      top: 2%;
    }
    &__2 {
      top: 98%;
      transform: translateY(-0.6rem);
    }
    &__3 {
      left: 2%;
    }
    &__4 {
      left: 98%;
      transform: translateX(-0.6rem);
    }
  }
}
.textbox {
  color: transparent;
  -webkit-text-stroke: 0.25px #fff;
  background: url(../img/back.png);
  -webkit-background-clip: text;
  background-position: 0 0;
  animation: back 20s linear infinite;
}
@keyframes back {
  100% {
    background-position: 1250px 0;
  }
}
@media screen and (max-width: 1100px) {
  .groupedSectionStyle {
    flex-direction: column;
    margin-top: 1rem;
  }
  .newBox {
    width: 100%;
  }
  .tex {
    margin-right: auto;
    font-size: 3.2rem;
    width: 90%;
  }
  .design {
    margin-left: auto;
    margin-right: auto;
    margin-top: 6rem;
  }
  .otherStyle {
    margin-right: auto;
    width: 80%;
    font-size: 1.5rem;
    margin-top: 1rem;
  }
  .buttonsView {
    margin-top: 2rem;
    margin-left: 25%;
    top: 50%;
  }
}
@media screen and (max-width: 600px) {
  .groupedSectionStyle {
    flex-direction: column;
    margin-top: 2rem;
    height: max-content;
  }
  .newBox {
    width: 100%;
  }
  .tex {
    margin-left: auto;
    font-size: 2rem;
    width: 90%;
  }
  .design {
    display: none;
  }
  .wrapper {
    display: none;
  }
  .clock {
    display: none;
  }
  .checkmarkStyle {
    display: none;
  }
  .otherStyle {
    font-size: 1rem;
    margin-left: auto;
    width: 90%;
  }
  .buttonsView {
    flex-direction: column;
  }
  .containerStyle {
    padding-bottom: 0;
  }
}
@media screen and (min-width: 1300px) and (min-height: 800px) {
  body {
    zoom: 1.1;
    overflow: hidden;
  }

  .groupedSectionStyle {
    margin-top: 7.5%;
  }

  .newBox {
    width: 60%;
  }

  .design {
    margin-top: 4.5%;
  }

  .tex {
    font-size: 4rem;
    margin-top: 4.5%;
  }

  .otherStyle {
    font-size: 1.25rem;
    margin-top: 3;
  }

  .buttonsView {
    margin-top: 3%;
    margin-left: 8%;
  }
}
