.addtask {
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 15%; /* Adjust the percentage to control the vertical position */
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
}


.animated {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 60%; /* Adjust the percentage to control the vertical position */
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 1s ease-in-out;
  opacity: 0;
}

.animated.visible {
  opacity: 1;
}

.custom-btn {
  width: 150px;
  height: 40px;
  color: #1a1919;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;

  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}
.btn-9 {
  border: none;
  transition: all 0.3s ease;
  overflow: hidden;
}
.btn-9:after {
  position: absolute;
  content: " ";
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(103, 187, 211);
  background-image: linear-gradient(315deg, rgb(103, 187, 211) 0%, #b621fe 74%);
  transition: all 0.3s ease;
}
.btn-9:hover {
  background: transparent;
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5),
    -4px -4px 6px 0 rgba(116, 125, 136, 0.2),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 0.5),
    inset 4px 4px 6px 0 rgba(116, 125, 136, 0.3);
  color: #fff;
}
.btn-9:hover:after {
  -webkit-transform: scale(2) rotate(180deg);
  transform: scale(2) rotate(180deg);
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5),
    -4px -4px 6px 0 rgba(116, 125, 136, 0.2),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 0.5),
    inset 4px 4px 6px 0 rgba(116, 125, 136, 0.3);
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.addtext {
  color: black;
}

.popup-content {
  background: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.popup-content input,
.popup-content textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  box-sizing: border-box;
  resize: none;
}
.btns2 {
  display: flex;
  justify-content: left; /* Adjust as needed */
  gap: 25px;
}

.btn,
.btns {
  padding: 8px 12px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: white;
}

.btn {
  background-color: #67bbd3;
  color: #fff;
}

.btn:hover {
  background-color: #32b6da;
  transition: 0.3s;
  color: #fff;
}

.btns {
  background-color: rgb(253, 57, 57);
}

.btns:hover {
  background-color: rgb(230, 3, 3);
  transition: 0.3s;
}

.add-task-button,
.close-button {
  /* Add any additional styling for your buttons here */
  padding: 10px; /* Adjust as needed */
}

/* small card buttons */
.button-container {
  gap: 10px;

  display: flex;
  justify-content: flex-end;
}

.button-container button {
  background-color: #3498db;
  color: #fff;
  padding: 7px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  display: flex;
  flex-direction: justify-items;
}

.button-container button:hover {
  background-color: #5eaee3;
}

/* cards -task cards */
.task-cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding-bottom: 20px;
}

.task-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  justify-content: center;
  margin-top: 10rem;
}

.task-card {
  padding: 10px;
  border-radius: 10px;
  width: 270px;
  text-align: center;
  height: fit-content;
  background: #fff;
  box-shadow: 5px 5px 12px #d3d3d3, -5px -5px 12px #f2f2f2;
  overflow: auto;
}


.task-card h3 {
  margin-bottom: 15px;
}

.task-card p {
  margin: 0;
}

/* task card responsive */
@media (max-width: 768px) {
  /* Adjust styles for smaller screens */
  .task-cards {
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
  }

  .addtask {
    top: 13%; /* Adjust the percentage to control the vertical position */
    left: 50%;
    transform: translateX(-50%);
  }

  .animated {
    top: 60%; /* Adjust the percentage to control the vertical position */
    left: 50%;
    transform: translate(-50%, -10%);
  }

  .addtask {
    top: 17%;
  }

  .animated {
    top: 45%;
  }

  .popup-content {
    width: 80%;
  }
}

@media (max-width: 600px) {
  .addtask {
    top: 17%;
  }

  .animated {
    top: 50%;
  }

  .popup-content {
    width: 80%;
  }
  .animated img {
    width: 400px;
  }

  .task-card {
    width: 300px !important;
  }
}

@media (max-width: 1024px) {
  /* iPad landscape mode */

  .task-cards {
    grid-template-columns: repeat(1, 1fr);
    margin-top: 15rem;
    align-items: center;
  }

  .task-card {
    width: 400px;
  }
  
}
/* Dark mode styling for addtask */
.dark-mode .addtask {
  background-color: #121212;
  color: #ffffff;

}

/* Dark mode styling for animated */
.dark-mode .animated {
  background-color: #121212;
  color: #ffffff;

  transition: opacity 1s ease-in-out;
  opacity: 0;
}

.dark-mode .addtext {
  color: #ffffff; 
}
.dark-mode .animated.visible {
  opacity: 1;
}


.inputs,
.input-2 {

  border: 1px solid #ccc;
  padding: 8px;

}

.dark-mode .inputs,
.dark-mode .input-2 {
 
  background-color: #121212;
  color: #ffffff;
  border: 1px solid #555;
 
}

.dark-mode {
  background-color: #121212; /* Set the background color for dark mode */
  color: #ffffff; /* Set the text color for dark mode */
}
.dark-mode .popup-overlay {
  background-color: rgba(0, 0, 0, 0.5);
}

/* Dark mode styling for popup-content */
.dark-mode .popup-content {
  background: #121212;
  color: #ffffff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}

/* Dark mode styling for custom-btn */
.dark-mode .custom-btn {
  background-color: transparent;
  color: #ffffff;
  
}

/* Dark mode styling for btn-9 */
.dark-mode .btn-9:after {
  background-color: rgb(103, 187, 211);
  background-image: linear-gradient(315deg, rgb(103, 187, 211) 0%, #b621fe 74%);
}

/* Dark mode styling for button-container button */
.dark-mode .button-container button {
  background-color: #3498db;
  color: #ffffff;
}

.dark-mode .button-container button:hover {
  background-color: #5eaee3;
}

/* Dark mode styling for task-cards-container */
.dark-mode .task-cards-container {
  background-color: #121212 ;
  color: #ffffff;
  box-shadow: 5px 5px 12px #000000, -5px -5px 12px #000000;
}

.dark-mode .task-cards {
  background-color: #121212;
  box-shadow: 5px 5px 12px #000000, -5px -5px 12px #000000;
  color: #ffffff;
}

.dark-mode .task-card {
  background-color: #121212;
  box-shadow: 5px 5px 12px #000000, -5px -5px 12px #000000;
  color: #ffffff;
}



.container.dark-mode {
  background-color: #000000 !important;
  color: #ffffff;
}