/* Buttons styles */
.btns2 {
  display: flex;
  justify-content: left; /* Adjust as needed */
  gap: 25px;
}

.btn,
.btns {
  padding: 8px 12px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: white;
}

.btn {
  background-color: #67bbd3;
  color: #fff;
}

.btn:hover {
  background-color: #32b6da;
  transition: 0.3s;
  color: #fff;
}

.btns {
  background-color: rgb(253, 57, 57);
}

.btns:hover {
  background-color: rgb(230, 3, 3);
  transition: 0.3s;
}

/* Update.css styles */
.update-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.updatetext {
  color: black;
}

.update-content {
  background: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.update-content input,
.update-content textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  box-sizing: border-box;
  resize: none;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  .update-content {
    width: 90%;
  }
}

@media (max-width: 600px) {
  .update-content {
    width: 80%;
  }
}
