/* Common styles */
.common-styles {
  border-radius: 10px;
  color: black;
}

/* Input styles */
.todo-input {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  width: 100%;
  padding: 0.5rem;
  text-align: center;
  height: 20%;
  background-color: #ffffff;
 /* Include common styles */
}

/* Todo styles */
.todo {
  width: 100%;
  padding: 1rem;
  text-align: left;
  border-radius: 10px;
  height: 40%;
  background-color: #ffffff;
/* Include common styles */
}

/* Buttons styles */
.btn, .btns {
  padding: 4px 12px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: white;
}

.btn {
  background-color: #5bafc6;
}

.btn:hover {
  background-color: #5bafc6;
  color: white;
}

.btns {
  background-color: rgb(253, 36, 36);
}

/* Update.css styles */
.update-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.update-modal {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0);
  background-color: #ffffff;
  border: 2px solid black;
  width: 80%; /* Adjusted for responsiveness */
  height: auto; /* Adjusted for responsiveness */
  z-index: 15;
}

.updatetext {
  color: black;
}

/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
  .update-modal {
    width: 90%;
  }
}
