* {
  font-family: "Poppins";
}

.nav-container {
  display: flex;
}
.page-container {
  display: flex;
  flex-direction: row;
}

.side-content {
  position: fixed;
  z-index: 9;
  margin-top: 66px;
}
/* .second-main-content{
  display: flex;
  justify-content: center;
} */
