* {
  font-family: "Poppins";
}

.nav-container {
  display: flex;
  z-index: 8;
}
.page-container {
  display: flex;
  flex-direction: row;
}

.side-content {
  position: fixed;
  z-index: 9;
}
/* In your CSS file or style block */
.dark-mode {
  background-color: black;
  color: white;
  /* Add any other styles for dark mode */
}

.dark-cards {
  background-color: darkgray;
  color: white;
  /* Add any other styles for dark mode cards */
}
