.navigation {
  position: fixed;
  min-width: 100%;
  z-index: 10;
  background-color: #fff;
  box-shadow: -5px 5px 8px #c6c6c7, 5px -5px 8px #afafb1;
}
/* dark mode styling */

/* Dark mode styling */
.dark-mode .navigation {
  background-color: #000;
  color: #fff;

}

.dark-mode .search-input {
  background-color: #000;
  color: #fff;
}

.dark-mode .welcome-container {
  background-color: #000; /* Adjust as needed */
  color: #fff; /* Adjust as needed */
}

.dark-mode .doer-text {
  color: #fff; /* Text color for dark mode */
  margin-right: 160px; /* Adjust as needed */
  font-weight: bold;
  font-size: 1.5rem;
}

/* Dark mode styling for .doer-text on hover */
.dark-mode .doer-text:hover {
  color: #1796b9; /* Adjust as needed */
  transition: 0.7s;
}
.dark-mode .userc {
  background-color: #049fcf;
}

.dark-mode .icon-toggle {
  color: #049fcf;
}
/* Dark mode styling ends */

/* dark mode styling ends */
.logo-image {
  max-width: 40px;
  margin-left: 10px;
  margin-right: 10px;
}
.doer-text {
  margin-right: 160px;
  font-weight: bold;
  font-size: 1.5rem;
}

.doer-text:hover {
  color: #1796b9;
  transition: 0.7s;
}

.welcome-container {
  display: flex;
  justify-content: center;
}

.welcome-message {
  justify-content: center;
  font-size: 1.8rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.dark-mode-icon {
  color: #ffc107;
}
.userc {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #67bbd3;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: #fff;
  transition: 0.3s;
  cursor: pointer;
}
.userc:hover {
  background-color: #049fcf;
}

.icon-container {
  margin-right: 10px;
  cursor: pointer;
  font-size: 23px;
}

.buttons1 {
  background-color: rgb(225, 63, 63);
  text-decoration: none;
  border-radius: 5px;
  border: none;
  padding: 9px;
  color: white;
  margin-left: 1rem;
  position: relative;
  margin-right: 10px;
}

.left-nav {
  display: flex;
  justify-content: flex-end;
}

.bi-box-arrow-right {
  margin-right: 10px;
}

.icon-toggle {
  color: #67bbd3;
  cursor: pointer;
  font-size: 23px;
}
@media (max-width: 960px) {
  .doer-text {
    margin-right: 0;
    font-size: 1.2rem;
  }
  .welcome-message {
    justify-content: center;
    font-size: 1.5rem;
  }
  .buttons1 {
    margin-left: 0;
    background-color: transparent;
  }
  .bi-box-arrow-right {
    margin-right: 0;
    padding: 4px 12px;
    color: rgb(225, 63, 63);
  }
  .logout-text {
    display: none; /* Hide the text */
  }
}

@media (max-width: 600px) {
  .doer-text {
    margin-right: 0;
    display: none;
  }
  .welcome-message {
    justify-content: center;
    font-size: 1.2rem;
  }
  .logo-image {
    width: 30px;
    margin-left: 0;
    margin-right: 5px;
  }
  .bi-box-arrow-right {
    padding: 0;
  }
}
