:root {
  --card-bg: #fff;
  --card-border: 1px solid #ddd;
  --card-border-radius: 5px;
  --card-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  --card-text-color: #000;
}

.card {
  background-color: var(--card-bg);
  border: var(--card-border);
  border-radius: var(--card-border-radius);
  box-shadow: var(--card-box-shadow);
  padding: var(--card-padding);
  text-align: center;
  width: 600px ;
  margin-top: 2rem;
  margin: 10px;
  min-height: 200px;
  transition: height 0.3s;
  color: var(--card-text-color);
 
}

.card.enlarged {
  transform: scale(1.2);
}

.card.expanded {
  height: 400px;
}

.enlarged {
  transform: scale(1.2);
}

.card.expanded {
  height: 400px;
}

.title {
  font-size: 20px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.arrowIconStyles {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0; /* Remove padding */
  background-color: #4ec152;
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

.arrowIconStyles > svg {
  color: white;
  width: 18px;
  height: 18px;
}

.bottom {
  display: flex;
  align-items: center;
}

.bottom svg {
  font-size: 24px;
  margin-right: 10px;
}

.content ul {
  list-style: none;
  padding: 0;
  text-align: left;
}


.content ul {
  list-style: none;
  padding: 0;
}

.content li {
  position: relative; /* Make the li element a positioned container */
  padding-left: 20px; /* Create some spacing between the circle and text */
  margin-bottom: 10px; /* Add some vertical spacing between list items */
}



.btn{
  padding: 15px;
  padding-top: 20px;
  padding-bottom: 1px;
  border: none;
}


/* Media query for responsiveness */
@media screen and (max-width: 600px) {
  .buttons {
    flex-direction: column; /* Stack buttons vertically on small screens */
    text-align: center;
  }

  .buttons button {
    margin: 5px 0; /* Add some space between buttons */
  }
}


@media (max-width: 768px) {
  .card {
    width: 100%;
  }
}

.custom-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-input {
  padding: 2px; /* Increase padding for larger touch areas */
  margin-right: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 60%; /* Make the input take the full width */
  box-sizing: border-box; /* Include padding and border in the width calculation */
}

.custom-button {
  padding: 7px 14px; /* Increase padding for larger touch areas */
  margin-left: 15px;
  background-color: #4ec152;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Media query for responsiveness */
@media screen and (max-width: 600px) {
  .custom-form {
    flex-direction: column; /* Stack elements vertically on small screens */
    text-align: center;
  }

  .custom-input,
  .custom-button {
    margin: 10px 0; /* Add some space between elements */
  }
}



