.logo-image {
  max-width: 45px;
  margin-right: 10px;
}

.welcome-container {
  display: flex;
  justify-content: center;
  font-size: 2rem;
}
.left-nav {
  display: flex;
  justify-content: flex-end;
}
.icon-container {
  margin-right: 10px;
  color: #67bbd3;
  cursor: pointer;
  font-size: 23px;
}
.page-container {
  display: flex;
  flex-direction: row;
}



.horizontal-card {
  padding: 10px;
  min-width: 300px;
}
.dark-mode {
  background-color: #222; /* Dark background color */
  color: #fff; /* Light text color */
}

.dark-mode-icon {
  color: #ffc107;
}

