.logo-image {
  max-width: 45px;
  margin-right: 10px;
}

.welcome-container {
  display: flex;
  justify-content: center;
  font-size: 2rem;
}
.left-nav {
  display: flex;
  justify-content: flex-end;
}
.icon-container {
  margin-right: 10px;
  color: #67bbd3;
  cursor: pointer;
  font-size: 23px;
}
.page-container {
  display: flex;
  flex-direction: row;
}

/* home.css */
.card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three cards in a row by default */
  gap: 10px; /* Adjust spacing between cards */
}

.horizontal-card {
  padding: 10px;
  min-width: 300px;
}
.dark-mode {
  background-color: #222; /* Dark background color */
  color: #fff; /* Light text color */
}

.dark-mode-icon {
  color: #ffc107;
}

@media (max-width: 768px) {
  .card-grid {
    grid-template-columns: 1fr;
  }
}
