.navigation {
  position: fixed;
  min-width: 100%;
  z-index: 10;
}
.logo-image {
  max-width: 40px;
  margin-left: 10px;
  margin-right: 10px;
}
.doer-text {
  margin-right: 160px;
}
.doer-text:hover {
  color: #1796b9;
}

.welcome-container {
  display: flex;
  justify-content: center;
}

.welcome-message {
  font-size: 1.8rem;
  font-weight: bold;
}
.search-bar {
  display: flex;
  justify-content: center;
}
.input-group {
  display: flex;
}
.search-button {
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 4px 12px;
}
.search-button i {
  margin-right: 8px;
}
@media (max-width: 768px) {
  .search-input {
    display: none; /* Hide the input field */
  }
  .search-button {
    background-color: transparent;
    border: none;
  }
  .search-button i {
    color: #67bbd3;
  }
}

@media (max-width: 768px) {
  .doer-text {
    margin-right: 0;
    font-size: 1.3rem;
  }
  .welcome-message {
    font-size: 1.6rem;
  }
}
@media (max-width: 600px) {
  .doer-text {
    margin-right: 0;
    font-size: 1rem;
  }
  .welcome-message {
    font-size: 1.3rem;
  }
  .doer-text {
    margin-right: 5px;
  }
}
.left-nav {
  display: flex;
  justify-content: flex-end;
}
.icon-container {
  margin-right: 10px;
  color: #67bbd3;
  cursor: pointer;
  font-size: 23px;
}
.page-container {
  display: flex;
  flex-direction: row;
}

.dark-mode {
  background-color: #222; /* Dark background color */
  color: #fff; /* Light text color */
}

.dark-mode-icon {
  color: #ffc107;
}

.side-content {
  position: fixed;
  z-index: 9;
  margin-top: 66px;
}
.main-content {
  margin-top: 80px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
}
@media (max-width: 768px) {
  .main-content {
    position: absolute; /* Change to relative or remove it */
    margin-bottom: 0;
    margin-left: 70px;
    margin-right: auto; /* Center the element horizontally */
    display: flex;
    justify-content: center;
    text-align: center; /* Center the text inside the element */
  }
}
@media (max-width: 600px) {
  .main-content {
    margin-left: 20px;
    margin-right: auto; /* Center the element horizontally */
  }
}

.card-grid {
  margin-top: 130px;
  margin-left: 170px;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three cards in a row by default */
  gap: 30px; /* Adjust spacing between cards */
}
@media (max-width: 768px) {
  .card-grid {
    margin-top: 190px;
    margin-left: 210px;
    grid-template-columns: 1fr;
  }
}
@media (max-width: 600px) {
  .card-grid {
    margin-left: 100px;
    margin-right: auto; /* Center the element horizontally */
  }
}

.horizontal-card {
  padding: 10px;
  min-width: 300px;
}
