* {
  font-family: "Poppins";
}

.container-fluid {
  width: 100%;
  height: 100%;
}

.row {
  margin: 0;
  padding: 0;
}

.side-navbar {
  display: flex;
  flex-direction: column; /* Change flex-direction to column to align items vertically */
  align-items: flex-start; /* Align items to the start of the flex container */
  min-height: 100vh;
  border-top-right-radius: 0px;
  margin-left: 0%;
  transition: background-color 0.3s;
}

.dark-mode {
  background-color: #1b1b1e;
  color: #fff;
}

ul {
  margin: 10px; /* Adjust margin for better spacing */
  list-style-type: none;
}

.side-navbar a {
  padding: 15px 5px; /* Adjust padding for better spacing */
  transition: color 0.3s;
  margin-top: 1cm;
  margin-left: -1cm;
}

.side-navbar a:hover {
  border-radius: 10%;
}

.bi-envelope {
  color: #2b89e0;
}
.bi-bar-chart {
  color: #039712;
}
.bi-calendar-check {
  color: #8e24b8;
}
.bi-ui-checks-grid {
  color: #041ea0;
}
.bi-box-arrow-right {
  color: #f8063a;
}
