.container-fluid {
  width: 100%;
  height: 100%;
}
.row {
  margin: 0;
  padding: 0;
}
.side-navbar {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
  color: #212529;
  flex: 1 0 auto;
}
ul {
  margin: -25px;
  margin-right: 10px;
  padding: 0;
  list-style-type: none;
}
.side-navbar a {
  padding: 15px 0px;
  transition: color 0.3s; /* Add a smooth transition effect for the color change */
}
.side-navbar a:hover {
  padding: 10px 10px;
  border-radius: 20px;
  cursor: pointer;
  background-color: #edeeef;
}
.bi-envelope {
  color: #2b89e0;
}
.bi-bar-chart {
  color: #039712;
}
.bi-calendar-check {
  color: #8e24b8;
}
.bi-ui-checks-grid {
  color: #041ea0;
}
.bi-box-arrow-right {
  color: #f8063a;
}